
{% load staticfiles %}
{% load mathfilters %}

<html>

    <head>
        <title> client Page </title>

        <link rel="stylesheet" href=" {% static 'css/index.css' %} ">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <script src="http://mozilla.github.io/pdf.js/build/pdf.js"></script>
        <script src="{% static 'js/index.js' %}" ></script>
        <script src="{% static 'js/index.js' %}" ></script>

    </head>

    <body>

        <div class="header">
          <!-- <br> <br> -->
          <div id="logo">
            <a>
              <img src="static/img/logo.png" alt="logo"  />
              <div class="caption">Plato eLearning</div>
            </a>
          </div>
          <!-- <img src="static/img/logo.png" alt="logo" /> -->
          <h1><I> Welcome to Search-Bot  </I></h1>
        </div>

        <div class="logout">
          <br>
          <a href="{% url 'logout' %}">logout</a>
        </div>

        <div class="middle_parter">


        {% if parter == "part1" %}

              <h4> Uploading the manuals </h4>

              <form method="post" enctype="multipart/form-data" >
                  {% csrf_token %}
                  <input type="file" name="myfile">
                  <input type="text" name="parters" value="1" style="display:none">
                  <button type="submit"> Upload the file </button>
                  <p></p>
              </form>

              <form enctype="multipart/form-data" method="post" >
                  <br><br>
                  {% csrf_token %}
                  <input type="text" name="parters" value="2" style="display:none">
                  <button> All Files uploaded </button> </p>

              </form>
              {% if error %}
                <p>{{ error }}</p>
              {% endif %}


              <form enctype="multipart/form-data" method="post" action="/user">
                  {% csrf_token %}
                  <br>
                  <p> <h4>Finished adding the files. Start asking questions!</h4>
                  <br><br>
                  <input type="text" name="parters" value="2" style="display:none">
                  <button> Ask question </button> </p>
              </form>

        {% endif %}

</html>
